doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title  Supersourcing Support
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
table(border='0' cellpadding='0' cellspacing='0' width='100%')
  tr
    td(style='padding: 10px 0 30px 0;')
      table(align='center' border='0' cellpadding='0' cellspacing='0' width='750' style='border: 1px solid #cccccc; border-collapse: collapse;')
        tr
          td(align='left' bgcolor='#ffffff' style='border-bottom:1px solid #eeeeee;   color: #153643; font-size: 28px; font-weight: bold; font-family: sans-serif; padding: 0px 125px 0px 78px;' height='66')
            img(src='https://test.supersourcing.com/staticBase/template/logo.png' width='200' height='35' style='display: block; object-fit: cover;')
        tr
          td(bgcolor='#ffffff' style="padding: 0px 125px 0px 80px; background-image: url('main-bg.png'); background-repeat: no-repeat; background-size: contain; background-position: top; object-fit: cover;")
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td(style='color: #153643; font-family:   sans-serif; font-size: 24px;')
                  h4(style='font-size: 20px; color: #000000; margin: 50px 0px 15px 0px;')
                    | Hi, Team!
              tr
                td
                  p(style='padding:0; color: #354052; font-family:   sans-serif; font-size: 16px; line-height: 20px; font-weight: 400; margin: 0px')
                    | One new request for developer hiring procedure.
                  p
                    span(style='font-weight: 600; color: #000;') Roles:
                    |  #{designation}
                  p
                    span(style='font-weight: 600; color: #000;') Number Of Resources:
                    |  #{no_of_developer_required}
                  p
                    span(style='font-weight: 600; color: #000;') Required Skill Set:
                    |  #{skills}
                  p
                    span(style='font-weight: 600; color: #000;') Average Experience:
                    |  #{developer_experience}
                  p
                    span(style='font-weight: 600; color: #000;') Prefered Billing:
                    |  #{billing_type}
                  p
                    span(style='font-weight: 600; color: #000;')  Average Budget:
                    |  #{budget}
                  p
                    span(style='font-weight: 600; color: #000;') Tentative Availability:
                    |  #{availability_to_start}
                  p
                    span(style='font-weight: 600; color: #000;') Contract Period:
                    |  #{contract_period} Months
                  p
                    span(style='font-weight: 600; color: #000;') Extensions Allowed:
                    |  #{extension}
                  p(style='font-weight: 600') Please find the client&rsquo;s contact information below,  
                  p
                    span(style='font-weight: 600; color: #000;') Email ID:
                    |  #{email_id}
                  p
                    span(style='font-weight: 600; color: #000;') Name:
                    |   #{name}
                  p
              tr
                td
                  p Regards,
                  p Team Supersourcing 
        tr
          td(style="background-image: url('foot-bg.jpg');\
          height:98px;background-size:contain;padding:0px 75px 0px; background-repeat: no-repeat;")
            table(border='0' cellpadding='0' cellspacing='0' width='100%')
              tr
                td(style='color: #ffffff; font-family:   sans-serif; font-size: 14px;' width='35%')
                  ul(style='text-align: left;padding:0;')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://twitter.com/supersrcing' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/twitter.png' alt='Twitter' width='33' height='33' style='object-fit: cover; border-radius:50%')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://www.facebook.com/supersrcing' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/fb.png' alt='Facebook' width='33' height='33' style='object-fit: cover; border-radius:50%')
                    li(style='display:inline-block;margin-right:16px;vertical-align: top;')
                      a(href='https://www.linkedin.com/company/26617736/' target='_blank')
                        img(src='https://test.supersourcing.com/staticBase/template/linkdin.png' alt='Linkdin' width='33' height='33' style='object-fit: cover; border-radius:50%')
                td(align='right' width='65%')
                  div(style='text-align: center; max-width: 400px;margin:0 auto;')
                    ul(style='text-align: center;margin:0;')
                      li(style='display: inline-block;vertical-align: top; border-right:1px solid #ffffff; font-weight: 600;font-size: 14px;')
                        a(href='mailto:hello@supersourcing.com' style='color:#ffffff;text-decoration: none;padding-right: 5px;') hello@supersourcing.com
                      li(style='display: inline-block;vertical-align: top;')
                        a(href='tel:+91-8225007007' style='color:#ffffff;text-decoration: none; font-weight: 600;font-size: 14px;') +91-8225007007
                    p(style='color:#ffffff;font-weight: 100;font-size: 12px; margin-left: 42px; margin-bottom: 5px; margin-top: 3px;')
                      | Copyright &copy; 2019 
                      b(style='font-weight: 100;') Supersourcing.
                      |  All Rights Reserved.
